body {
    margin: 0;
	padding-right: 10%;
    padding-left: 10%;
    background-color: rgba(0,0,0,0.07);     
}

.logo {
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
}

.bike {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main {
    background-color: rgba(255,255,255,1);     
}

.menu_container {
    width: 100%;
    height: 10%;
    margin-bottom: 5%;
  
}

.center {    
    width: 100%;
    height: 60%;
}

.footer{
    width: 100%;
    height: 7%;
}

ul#menu  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-image: -moz-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);        
}

ul#menu li {
    float: left;
    display:inline;
}

ul#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul#menu li a:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);  
  border: 1px solid  rgb(131, 131, 131);
}


#spisoc{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-right: 1px solid grey;

}

ul#spisoc li {

}

ul#spisoc > li > a {
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    list-style-position:inside;
    border-bottom: 1px solid grey;
}

/* Change the link color to #111 (black) on hover */
ul#spisoc li a:hover {
	background: rgb(249,249,249);
	padding-left: 20px
}


#container{
	margin: 0 0 0 0%;    
	overflow: auto;

}
.sidebar{
    width:25%;
    color: black;
    float: left;
    display: block;
    margin: 0 0 0 0%;    
}

.content{
    width:60%;
    display: block;
    float: left;
    margin: 0 0 0 10%;
}

.text{
	width:60%;
    display: block;
    float: left;
    margin: 0 0 0 35%;
}

ul#menu2 {
    list-style-type: none;
    padding: 0;
    background: rgb(225,225,225);
	}
ul#menu2 li {
    float: left;
    display:inline;
}

ul#menu2 li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#menu2 li a:hover {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}



.menu2{
    width:85%;
    height: 100%;
    background: rgb(225,225,225);
    float: left;    
}


.copyright_text {
 margin: auto;
  position: absolute;
    display: block;
}
.copyright{
    width:15%;
    height:100%;
    color: black;
    float: left;
    background: rgb(225,225,225);
}
